<app-header></app-header>

<div class="reset-container">
    <mat-icon (click)="reset()" aria-hidden="false" fontIcon="replay" id="reset-btn"></mat-icon>
</div>

<div class="card-container">
    <div class="card text-bg-secondary" style="width: 18rem;" id="producto-card" *ngFor="let p of productos">
        <div class="card-body">
            <h5 class="card-title">{{p.productoNombre}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">ID: {{p.id}}</h6>
            <p class="card-text">
                <b>Fecha: </b> {{p.fechaCompra | date}}<br>
                <b>Valor: </b>{{p.valor}}
            </p>
            <button (click)="verTodo(p.productoNombre)">Ver todos</button>
        </div>
    </div>
</div>