.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

#producto-card {
    color: grey;
}

#reset-btn {
    cursor: grabbing;
}

.reset-container {
    text-align: center;
}